@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    317 17th Ave. S<br />
    Seattle, WA 98144<br />
    <abbr title="Phone">P:</abbr>
    206.956.0779
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chaim@casa-latina.org">chaim@casa-latina.org</a>
</address>