@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

     <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Notebooks", "Index", "Notebook")</li>
                    <li>@Html.ActionLink("Printers", "Index", "Printer")</li>
                </ul>
            </div>
    
    
    }
}

